services:
  ref:
    build: .
    command: python ref/main.py
    container_name: ref
    environment:
      - PERSIST_DIR=/app/data
    volumes:
      - ref_data:/app/data

  broker:
    build:
      context: .
      dockerfile: broker/Dockerfile   # usa o Dockerfile do broker JS
    container_name: broker

  proxy:
    build:
      context: .
      dockerfile: proxy_go/Dockerfile # usa o Dockerfile do proxy Go
    container_name: proxy

  server:
    build: .
    command: python server/main.py
    environment:
      - BROKER_ENDPOINT=tcp://broker:5556
      - PROXY_XSUB=tcp://proxy:5557
      - PROXY_XPUB=tcp://proxy:5558
      - REF_HOST=ref
      - REF_PORT=6000
      - PERSIST_DIR=/app/data
    volumes:
      - server_data:/app/data
    depends_on:
      - broker
      - proxy
      - ref
    deploy:
      replicas: 3

  client_auto:
    build: .
    command: python client/main.py
    environment:
      - AUTO_CLIENT=1
      - BROKER_REQ=tcp://broker:5555
      - PROXY_XPUB=tcp://proxy:5558
    depends_on:
      - broker
      - proxy
      - server
    deploy:
      replicas: 2

volumes:
  server_data:
  ref_data:
