services:
  broker:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:proj
    container_name: broker
    volumes:
      - ./broker:/app
    ports:
      - 5555:5555
      - 5556:5556

  proxy:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:proj
    container_name: proxy
    volumes:
      - ./proxy:/app
    ports:
      - 5557:5557
      - 5558:5558

  server:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:proj
    volumes:
      - ./server:/app
      - ./data:/app/data # Monta o volume de dados para persistência
    depends_on:
      - broker
      - proxy

  client:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:proj
    stdin_open: true
    tty: true
    depends_on:
      - server
    volumes:
      - ./client:/app
    # Removido 'deploy: replicas: 2' para cliente interativo
    # (Apenas um cliente interativo por terminal)

  listener: # Este serviço parece não estar sendo usado, mas o mantemos
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:proj
    volumes:
      - ./listener:/app
    depends_on:
      - proxy

  # --- NOVO SERVIÇO ---
  bot:
    build:
      context: ./bot # Contexto da pasta do bot
      dockerfile: Dockerfile # Dockerfile do bot
    image: cc7261:bot # Nova imagem para o bot
    depends_on:
      - server
    deploy:
      replicas: 2 # Executa 2 instâncias do bot